.carousel-text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 12px;
  color: white;
  padding: 20px;
}

.carousel-text h2 {
  font-size: 25px;
  font-weight: bold;
}

.carousel-text p {
  font-size: 12px;
  max-width: 800px;
}

