/* =========================
   ESTILO GENERAL
========================= */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: "Quicksand", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 25px;
  color: #070707;
}
/* =========================
   CARRUSEL
========================= */
.carrusel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carrusel img {
  width: 80%;
  max-width: 900px;
  height: auto;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.35);
}

/* =========================
   CONTENEDOR DE TARJETAS
========================= */
.tarjetas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 35px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

/* =========================
   TARJETAS
========================= */
.card {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 8px 18px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 14px 30px rgba(0,0,0,0.35);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 15px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

.card-body a {
  text-decoration: none;
  font-weight: bold;
  color: #8b0000;
}

.card-body a:hover {
  color: black;
}
