/* RESET GENERAL */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Quicksand", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #070707;
}
/* =========================
   CARRUSEL
========================= */
.carrusel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carrusel img {
  width: 80%;
  max-width: 900px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

/* =========================
   CONTENEDOR DE TARJETAS
========================= */
.tarjetas {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Separación entre tarjetas */
  flex-wrap: wrap; /* Para que bajen en pantallas pequeñas */
  padding-bottom: 40px;
}

/* =========================
   TARJETAS
========================= */
.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 25px rgba(0,0,0,0.3);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-body a {
  text-decoration: none;
  font-weight: bold;
  color: #b30000;
}

.card-body a:hover {
  color: black;
}
